

.first {
    background: linear-gradient(
      180deg,
      rgba(71, 132, 166, 1) 0%,
      rgb(164, 96, 93) 100%,
      rgba(0, 0, 0, 1) 100%
    );
  }

.second {
    background: linear-gradient(
      180deg,
      rgba(164, 96, 93, 1) 0%,
      rgba(71, 132, 166, 1) 100%,
      rgba(0, 0, 0, 1) 100%
    );
  }

.third {
    background: linear-gradient(
      180deg,
      rgba(71, 132, 166, 1) 0%,
      rgba(63, 166, 146, 1) 100%,
      rgba(0, 0, 0, 1) 100%
    );
  }


img {
    width: 75px;
    height: 75px;
  }

@import "../../node_modules/bootstrap/scss/bootstrap";
